body {
    font-family: "Montserrat", sans-serif;
    color: #2e2f42;
}

input {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 8px 16px;

    margin-bottom: 16px;
}

input::placeholder {
    color: currentColor;
}

h1 {
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin: 0;
}